<h1 style="text-align: center">Providers List</h1> <!--Titulo de la pantalla-->
<div class="search" style="display: flex;">
  <div class="input-group">
    <!--buscador-->
    <div class="inputbox">
      <input required="required" type="text" class="input" name="text" name="filterProductos"
        [(ngModel)]="filterProvedor">
      <span>Search Provider</span>
      <i></i>
    </div>
  </div>
  <!--botton nuevo-->
  <button class="cssbuttons-io" *ngIf="isAdmin" routerLink="/proveedor/nuevo" id="botonNuevo">
    <span><i class="fa-solid fa-circle-plus" style="margin-right: 5px;"></i>
      New</span>
  </button>
</div>

<div style=" display: flex;flex-wrap: wrap;"> <!--Div donde se le da el estilo flex para poderlo acomodar como esta-->
  <div class="card-group" *ngFor="let prove of proveedores |filterProvedor:filterProvedor " style=" flex-basis: calc(33.33% - 10px);
  text-align: center;
  margin-right: 10px; /* Establecer un espacio entre los elementos */
  margin-bottom: 10px; /* Establecer un espacio entre las filas */
  padding: 10px;"><!--Estilo del acomodo de las cards-->
    <div class="card"> <!--Card-->
      <img [src]="prove.logo" width="350px" height="200px" id="img">
      <hr>
      <div class="card-body">
        <h5 class="card-title">{{prove.nombreProvedor}}</h5>
        <p class="card-text"><small class="text-muted">{{prove.pais}}</small></p>
        <a id="BotonCrear" routerLink="/proveedor/lista/{{prove.id}}/{{prove.nombreProvedor}}"
          class="btn btn-outline-primary" style="margin-right: 5px;"><i class="fa-solid fa-eye"></i> Details</a>
        <a id="BotonCrear" *ngIf="isAdmin" routerLink="/proveedor/editar/{{prove.id}}" class="btn btn-outline-warning"
          style="margin-right: 5px;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
        <button *ngIf="isAdmin" (click)="onDelete(prove.id)" class="noselect"><span class="text">Delete</span><span
            class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
              </path>
            </svg></span></button>
      </div>
    </div>
  </div>
</div>

<!-- Cragando -->
<div id="loading"></div>