div {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  