<br>
<!-- Se define un contenedor que contiene el escáner QR y se centra en la pantalla -->
<div class="container">
  <div class="centered">
    <!-- Se define un elemento de lista desplegable (select) que permite al usuario seleccionar una cámara web disponible en el sistema.
    La directiva "ngFor" se utiliza para iterar sobre una matriz de objetos de cámara y crear una opción para cada una.
    El valor de cada opción es el "label" de la cámara. Cuando se selecciona una opción, se llama al método "selectCamera" con el valor seleccionado. -->
    <select #selectList (change)="selectCamera(selectList.value)">
      <option *ngFor="let camera of cameras" value={{camera.label}}>
        {{ camera.label }}
      </option>
    </select>
    <!-- Se define el escáner QR utilizando la biblioteca "zxing-scanner". Se establece el ancho del escáner en 500 píxeles.
    Las propiedades "enable" y "device" se enlazan a las propiedades "scannerEnabled" y "myDevice" del componente,
    respectivamente. Los eventos "camerasFound" y "scanSuccess" se enlazan a los métodos "camerasFoundHandler" y
    "scanSuccessHandler" del componente, respectivamente. -->
    <zxing-scanner style="width: 500px;"
      [enable]="scannerEnabled"
      [device]="myDevice"
      (camerasFound)="camerasFoundHandler($event)"
      (scanSuccess)="scanSuccessHandler($event)"
    ></zxing-scanner>
  </div>
</div>
