<h1 style="text-align: center">Class Details</h1>
<div id="contenido2">
  <div class="container">
    <div class="general">
      <div class="information">
        <a class="list-group-item"><b>Description</b>
          <p>{{ listClases.descripcion }}</p></a>
        <a class="list-group-item"><b>Price</b>
          <p>{{ listClases.costo }}</p></a>
        <a class="list-group-item"><b>Instructor </b>
          <p>{{ listClases.nombreInstructor }}</p></a>

        <a class="list-group-item"><b>Date </b>
          <p>{{ listClases.fecha }}</p></a>
        <a class="list-group-item"><b>Time </b>
          <p>{{ listClases.hora }}</p></a>
        <a class="list-group-item"><b>Quota</b>
          <p>{{ listClases.cupo }}</p></a>
      </div>
      <div class="imagen">
        <div class="titulobello">
          <h1>{{ listClases.nombreClase }}</h1>
          <br />
        </div>
        <img
          src="{{ listClases.fotoClase }}"
          class="card-img-top img"
          width="300px"
          height="300px"
          style="margin-top: 40px"
          />

        <br />
        <br />
        <br />
        <div class="btn">
          <button class="cssbuttons-io ms-5 rounded float-start" id="botonNuevo"
            routerLink="/listaClientes">
            <span><i class='bx bx-show me-2'></i>
              See Sales</span>
          </button>
          <button class="cssbuttons-io ms-5 rounded float-end" id="botonNuevo"
            routerLink="/listaClientes">
            <span><i class='bx bx-show me-2'></i>
              Exit</span>
          </button>


        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="list"
  tabindex="-1"
  aria-labelledby="crear"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crear">Alumns to Class</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">Lista</div>
      <div class="modal-footer">
        <button type=" button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
