<div class="contenedor">
  <div class="info-employee">
    <img src="https://raw.githubusercontent.com/CarlosMR75/Project-Rook/main/img/ast.png" alt=""
      class="bd-placeholder-img rounded-circle" height="155px" width="155px">
    <h1 *ngIf="emp">{{emp.nombreUsuario}}</h1>
  </div>
  <div class="employee-body d-flex flex-row">
    <div class="info-body flex-fill me-4">
      <p>Name: {{emp.nombreUsuario}}</p>
      <p>Age: {{emp.edad}}</p>
      <p>Salary: ${{emp.sueldo}}</p>
      <p>Turn: {{emp.turno}}</p>
      <p>Email: {{emp.email}}</p>
      <p>Phone: {{emp.telefono}}</p>
      <p>Employee Number: {{emp.id}}</p>
      <!-- <p>Rol: Mantenimiento</p> -->
    </div>
    <div class="stats-body flex-fill">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#datos" aria-selected="true" role="tab"
            tabindex="-1">Data</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#horaE" aria-selected="false" role="tab"
            (click)="cargarRet()">Entry time</a>
        </li>

        <!-- <li class="nav-item" role="presentation">
                  <a class="nav-link" data-bs-toggle="tab" href="#faltas" aria-selected="true" role="tab" tabindex="-1">Faltas</a>
                </li> -->
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#regMensual" aria-selected="false" role="tab" tabindex="-1"
            (click)="cargarRet();
            loadChart();">Monthly record</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="datos" role="tabpanel">
          <p>Datos</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ch of checks">
                <td>{{ch.id}}</td>
                <td>{{ch.fecha}}</td>
                <td>{{ch.hora}}</td>
                <td>{{ch.tipo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="horaE" role="tabpanel">
          <div class="img-and-text">
            <div>
              <div class="calendar">
                <div class="calendar-header">
                  <button class="prev-month-btn"><i class="fa-solid
                      fa-angle-left"></i></button>
                  <h2 class="calendar-month"></h2>
                  <button class="next-month-btn"><i class="fa-solid
                      fa-angle-right"></i></button>
                </div>
                <div class="calendar-days">
                  <div class="calendar-day-header">Sun</div>
                  <div class="calendar-day-header">Mon</div>
                  <div class="calendar-day-header">Tue</div>
                  <div class="calendar-day-header">Wed</div>
                  <div class="calendar-day-header">Thu</div>
                  <div class="calendar-day-header">Fri</div>
                  <div class="calendar-day-header">Sat</div>
                </div>
                <div class="calendar-grid"></div>
              </div>
            </div>
            <p>Entry time</p>
            <p #entry id="entry"></p>
          </div>
        </div>

        <!--<div class="tab-pane fade" id="faltas" role="tabpanel">
                  <p>Faltas</p>
                </div> -->
        <div class="tab-pane fade" id="regMensual" role="tabpanel">
          <p>Chart</p>
          <div class="chart-container">
            <canvas Id="myChart" #myChart></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="checarHora()"></button> -->