<!-- Elaboro: Alexis Martinez, Oscar Rojas, Juan de Dios -->
<div class="container mt-5">
  <div class="input-group mb-4">
    <!-- Barra de Busqueda -->
    <button class="cssbuttons-io ms-5 rounded" id="botonNuevo" data-bs-toggle="modal" data-bs-target="#crear">
      <span><i class='bx bxs-plus-circle bx-tada-hover me-2'></i>
        Add Products</span>
    </button>
    <!-- Se muestran los botones de paypal si se selecciona el tipo de pago Paypal -->
    <div *ngIf="tipoPago != 'Paypal'; else paypal">
      <button class="cssbuttons-io ms-5 rounded" id="botonNuevo" (click)="saveVentas()">
        <span><i class='bx bxs-plus-circle bx-tada-hover me-2'></i>
          Sell</span>
      </button>
    </div>
    <button class="cssbuttons-io ms-5 rounded" id="botonNuevo" routerLink="/listaVentas">
      <span><i class='bx bx-show me-2'></i>
        See Sales</span>
    </button>
    <button class="cssbuttons-io ms-5 rounded" id="botonNuevo" routerLink="/cortes">
      <span><i class='bx bx-book-bookmark me-2'></i>
        Cuts</span>
    </button>
    <!-- Se selecciona el tipo de pago -->
    <select class="form-select ms-5 rounded" aria-label="Default select example" [(ngModel)]="tipoPago"
      [ngModelOptions]="{standalone: true}">
      <option selected>Payment Type</option>
      <option value="Efectivo">Cash</option>
      <option value="Paypal">Paypal or Credit Card</option>
    </select>
  </div>
  <!-- Tabla de Productos -->
  <table class="table table-striped">
    <thead id="tablaBg">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Barcode</th>
        <th scope="col">Subtotal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <!-- Lista los productos-->
    <tbody id="buscarTabla">
      <tr *ngFor="let item of productos; let i = index" class="text-capitalize">
        <td><img src="{{item.img}}" id="imgTablita"></td>
        <td>
          <p>{{item.nombre}}</p>
        </td>
        <td>{{item.cantidad}}</td>
        <td>{{item.codeBar}}</td>
        <td>$ {{item.total.toFixed(2) }}</td>
        <td>
          <!-- Dropdown de opciones RUD -->
          <div class="dropdown">
            <a class="btn btn-outline-dark" id="opciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </a>

            <ul class="dropdown-menu">
              <li><button class="dropdown-item" (click)="removerProducto(i)"><i class='bx bxs-trash'></i>
                  Eliminate</button></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal para Agregar Producto -->
<div class="modal fade" id="crear" tabindex="-1" aria-labelledby="crear" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crear">Add Product for Sale</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label class="form-label">Barcode</label>
          <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="codeBar"
            [ngModelOptions]="{standalone: true}">
          <label class="form-label">Amount</label>
          <input type="number" placeholder="1" class="form-control" min="1" name="cantidadInput" [(ngModel)]="cantidad"
            [ngModelOptions]="{standalone: true}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="BotonCrear" (click)="agregarProducto(codeBar)"
          data-bs-dismiss="modal" [disabled]="codeBar == ''">Add</button>
        <button type=" button" class="btn btn-danger noselect" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Template de paypal -->
<ng-template #paypal>
  <div class="ms-5 rounded">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</ng-template>