<h1 style="text-align: center;">Lista de Inventario</h1>
<div class="search" style="display: flex;">
  <div class="input-group">
    <!--buscador-->
    <div class="inputbox">
      <input required="required" type="text" class="input" name="text"
      name="filterProductos" [(ngModel)]="filterProductos"  (input)="reload()">
      <span>Buscar Producto  </span>
      <i></i>
    </div>
    <!--filtrado-->
    <div class="dropdown">
      <button class="btn dropdown-toggle" id="filtrar" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-color: transparent;">
        Filtrar por...
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="Ninguno()">Ninguno</a></li>
        <li><a  *ngFor="let Categorias of categorias" class="dropdown-item" (click)="filtrarCategorias(Categorias)" >{{Categorias}}</a></li>
      </ul>
    </div>
  </div>
<!--botton nuevo-->
  <button class="cssbuttons-io" *ngIf="isAdmin" routerLink="/producto/nuevo"
    id="botonNuevo">
    <span><i class="fa-solid fa-circle-plus" style="margin-right: 5px;"></i>
      Nuevo</span>
  </button>
</div>
<!--tabla-->
<table class="table table-borderless" style="text-align: center;">
  <thead>
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Tipo</th>
      <th scope="col">Provedor</th>
      <th scope="col">Precio</th>
      <th scope="col" *ngIf="isAdmin"></th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let producto of productos | filter:filterProductos">
        <td ><img data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showImage(producto.imagen,producto.nombreProducto,producto.codeBar)" [src]="producto.imagen" style="cursor: pointer;" class="card-img-top"  width="60px"
            height="70px"></td>
        <td>{{producto.nombreProducto}}</td>
        <td style="vertical-align: middle;" id="stock{{producto.id}}">{{producto.cantidad}}</td>
        <td>{{producto.tipo}}</td>
        <td>{{producto.nombreProvedor}}</td>
        <td>${{producto.precio}}</td>
        <td *ngIf="isAdmin"><button class="btn btn-outline-warning" style="margin-right: 2px; width: 100px;"
            routerLink="/producto/editar/{{producto.id}}"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
          <button class="btn btn-outline-danger" (click)="onDelete(producto.id)" style="width: 100px;"><i
              class="fa-solid fa-trash"></i>Eliminar</button></td>
      </tr>
    </tbody>
</table>
<br>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{selectedNombre}}<br>{{selectedcodeBar}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="selectedImage" class="img-fluid" width="500px" height="400px">
      </div>
    </div>
  </div>
</div>

<!-- Cargando -->
<div id="loading"></div>