<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                
                  <form #f="ngForm" novalidate (ngSubmit)="onEdit()">
                    <div class="form-outline mb-4">
                      <input type="text" name="nombreUsuario" id="nombreUsuario"
                        class="form-control"
                        placeholder="Usuario"
                        [(ngModel)]="empleado.nombreUsuario" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" name="foto" id="foto"
                        class="form-control"
                        placeholder="Foto"
                        [(ngModel)]="empleado.foto" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="number" name="edad" id="edad"
                        class="form-control"
                        placeholder="Edad"
                        [(ngModel)]="empleado.edad" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="number" name="sueldo" id="sueldo"
                        class="form-control"
                        placeholder="Sueldo"
                        [(ngModel)]="empleado.sueldo" autocomplete="off" />
                    </div>

                    <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">

                        <label>Eliege un Turno:</label>
                        <select id="roles" name="roles" [(ngModel)]="empleado.turno" required>
                        <option value="Matutino">Matutino</option>
                        <option value="Vespertino">Vespertino</option>
                        </select>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" name="email" id="email"
                        class="form-control"
                        placeholder="Correo"
                        [(ngModel)]="empleado.email" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="tel" name="telefono" id="telefono"
                        class="form-control"
                        placeholder="Telefono"
                        [(ngModel)]="empleado.telefono" autocomplete="off" />
                    </div>

                    <div class="form-group" style="margin-top: 20px;">

                        <label>Eliege un rol:</label>
                        <select id="roles" name="roles" [(ngModel)]="empleado.roles" required>
                        <option value="ROLE_ADMIN">Admin</option>
                        <option value="ROLE_INSTRUCTOR">Instructor</option>
                        <option value="ROLE_MANTENIMIENTO">Mantenimiento</option>
                        <option value="ROLE_RECEPCIONISTA">Recepcionista</option>
                        <option value="ROLE_USER">User</option>
                        </select>
                    </div>
                    <br>
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button [disabled]="!f.valid" class="btn btn-primary
                        btn-block fa-lg gradient-custom-2 mb-3"
                        type="button" type="submit">Edit User</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <div class="text-center">
                    <img
                      src="../../../../assets/img/logo.jfif"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Spartacus</h4>
                  </div>
                  <h4 class="mb-4">Sistema de Proveedores</h4>
                  <p class="small mb-0">Proyecto para la administracion y
                    la gestion de lo que serian los proveedores de un
                    gimnacio contando con sus productos y su informacion</p>
                  <br>
                  <p class="small mb-0">Registro de usuarios para el sistema
                    donde puedes insertar 4 tipos de roles pero solo el
                    administrador puede
                    insertar,borrar y actualizar
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

