<h1 style="text-align: center;">Customer List</h1>
<div class="search" style="display: flex;">
  <div class="input-group">
    <!--buscador-->
    <div class="inputbox">
      <input required="required" type="text" class="input" name="text" name="filterProductos"
        [(ngModel)]="filterClientes">
      <span>Search Clients</span>
      <i></i>
    </div>
  </div>
  <!--botton nuevo-->
  <button class="cssbuttons-io" *ngIf="isAdmin" routerLink="/cliente/nuevo" id="botonNuevo">
    <span><i class="fa-solid fa-circle-plus" style="margin-right: 5px;"></i>
      New</span>
  </button>
</div>
<!--tabla-->
<table class="table table-borderless" style="text-align: center;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Class</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Suscription</th>
      <th scope="col">Total payable to month</th>
      <th scope="col" *ngIf="isAdmin"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes | filterCliente:filterClientes">
      <td>{{cliente.nombreCliente}}</td>
      <td>{{cliente.nombreClase}}</td>
      <td>{{cliente.edad}}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.telefono}}</td>
      <td>${{cliente.subcripcion}}</td>
      <td>${{cliente.totalPagarAlMes}}</td>
      <td *ngIf="isAdmin"><button class="btn btn-outline-warning" style="margin-right: 2px; width: 100px;"
          routerLink="/cliente/editar/{{cliente.id}}"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
        <button class="btn btn-outline-danger" (click)="onDelete(cliente.id)" style="width: 100px;"><i
            class="fa-solid fa-trash"></i>Detele</button>
      </td>
    </tr>
  </tbody>
</table>
<br>



<!-- Cargando -->
<div id="loading"></div>